Repository MALIEV-Co-Ltd/Maliev.MessagingContracts: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, verify-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        name: Check YAML Syntax
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        name: Lint YAML Files
        args: [-c=.yamllint.yml]

  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        entry: dotnet format Maliev.MessagingContracts.slnx
        language: system
        files: \.(cs|vb)$
        pass_filenames: false

      - id: verify-build
        name: verify build
        entry: dotnet build Maliev.MessagingContracts.slnx -c Release
        language: system
        files: \.(cs|json|csproj|slnx)$
        pass_filenames: false

chore(ci): modernize CI workflow and pre-commit hooks for .slnx
  .github/workflows/publish.yaml
  .pre-commit-config.yaml
  .yamllint.yml
Due: none

refactor: Flatten project structure by moving tests to root-level folder
  Maliev.MessagingContracts.Tests/Maliev.MessagingContracts.Tests.csproj
  Maliev.MessagingContracts.Tests/SerializationTests.cs
  Maliev.MessagingContracts.Tests/ValidationTests.cs
  Maliev.MessagingContracts.slnx
Due: dotnet-format, verify-build

feat(employee): add Email and FullName to EmployeeCreatedEventPayload
  .claude/settings.json
  AGENTS.md
  GEMINI.md
  Maliev.MessagingContracts.Tests/Maliev.MessagingContracts.Tests.csproj
  contracts/schemas/customers/customer-events.json
  contracts/schemas/employee/employee-events.json
  generated/csharp/Contracts/MessagingContracts.cs
Due: dotnet-format, verify-build

fix(generator): add Microsoft.Extensions.Logging packages
  tools/Generator/Generator.csproj
Due: verify-build

refactor(generator): replace Console.WriteLine with ILogger
  tools/Generator/Program.cs
Due: dotnet-format, verify-build

feat(contracts): add NDA expiration and expired events
  generated/csharp/Contracts/NdaEvents.cs
Due: dotnet-format, verify-build

Add InvoiceSplitEvent and DeliveryEvents contracts
  asyncapi/asyncapi.yaml
  contracts/schemas/invoices/invoice-split-event.json
  generated/csharp/Contracts/DeliveryEvents.cs
  generated/csharp/Contracts/MessagingContracts.cs
Due: dotnet-format, verify-build

feat(contracts): update geometry events and FileAnalyzedEvent
  .gemini/settings.json
  .gitattributes
  contracts/schemas/geometry/geometry-events.json
  generated/csharp/Contracts/FileAnalyzedEvent.cs
Due: dotnet-format, verify-build

feat(contracts): add DFM report, JobStartedEvent, and MaterialLowStockEvent
  .specify/memory/constitution.md
  asyncapi/asyncapi.yaml
  contracts/schemas/geometry/geometry-events.json
  contracts/schemas/inventory/inventory-events.json
  contracts/schemas/jobs/job-events.json
  generated/csharp/Contracts/FileAnalyzedEvent.cs
  generated/csharp/Contracts/Inventory/MaterialLowStockEvent.cs
  generated/csharp/Contracts/Jobs/JobStartedEvent.cs
  specs/002-messaging-contracts/checklists/requirements.md
  specs/002-messaging-contracts/contracts/dfm-report.md
  specs/002-messaging-contracts/contracts/job-started-event.md
  specs/002-messaging-contracts/contracts/material-low-stock-event.md
  specs/002-messaging-contracts/data-model.md
  specs/002-messaging-contracts/plan.md
  specs/002-messaging-contracts/quickstart.md
  specs/002-messaging-contracts/research.md
  specs/002-messaging-contracts/spec.md
  specs/002-messaging-contracts/tasks.md
Due: dotnet-format, verify-build

fix(review): address PR feedback and constitution alignment
  asyncapi/asyncapi.yaml
  contracts/schemas/delivery/delivery-events.json
  contracts/schemas/employee/employee-events.json
  contracts/schemas/leave/leave-events.json
  contracts/schemas/nda/nda-events.json
  tools/Generator/Generator.csproj
  tools/Generator/Program.cs
Due: dotnet-format, verify-build

fix(employee): make principalId required in EmployeeCreatedEvent as requested
  contracts/schemas/employee/employee-events.json
Due: verify-build

feat: add JobStatusChangedEvent messaging contract
  .specify/memory/constitution.md
  .specify/scripts/powershell/update-agent-context.ps1
  .specify/templates/constitution-template.md
  .specify/templates/plan-template.md
  .specify/templates/tasks-template.md
  AGENTS.md
  asyncapi/asyncapi.yaml
  contracts/schemas/jobs/job-events.json
  generated/csharp/Contracts/Jobs/JobStatusChangedEvent.cs
  generated/csharp/Maliev.MessagingContracts.csproj
  package-lock.json
  package.json
  tools/Generator/Program.cs
Due: dotnet-format, verify-build

fix: regenerate C# contracts from schemas and remove manual files
  tools/Generator/Generator.csproj
Due: verify-build

fix: update schemas, add pricing contracts, and fix topology
  asyncapi/asyncapi.yaml
  contracts/schemas/employee/employee-events.json
  contracts/schemas/geometry/geometry-events.json
  contracts/schemas/orders/order-events.json
  generated/csharp/Contracts/Employee/EmployeeEvents.cs
  generated/csharp/Contracts/Geometry/GeometryEvents.cs
  generated/csharp/Contracts/Orders/OrdersEvents.cs
  generated/csharp/Contracts/Pricing/PricingEvents.cs
  scripts/validate-consumers.ps1
  tools/Generator/Program.cs
  topology/rabbitmq.yaml
Due: dotnet-format, verify-build

fix: handle CI environment in validate-consumers.ps1
  scripts/validate-consumers.ps1
Due: none

fix: use pattern-based validation in CI for validate-consumers.ps1
  scripts/validate-consumers.ps1
Due: none

chore: update messaging contracts and agent config
  AGENTS.md
  generated/csharp/Contracts/Accounting/AccountingEvents.cs
  generated/csharp/Contracts/Auth/AuthEvents.cs
  generated/csharp/Contracts/Career/CareerEvents.cs
  generated/csharp/Contracts/Chatbot/ChatbotEvents.cs
  generated/csharp/Contracts/Commands/CommandsEvents.cs
  generated/csharp/Contracts/Compensation/CompensationEvents.cs
  generated/csharp/Contracts/Compliance/ComplianceEvents.cs
  generated/csharp/Contracts/Customers/CustomersEvents.cs
  generated/csharp/Contracts/Delivery/DeliveryEvents.cs
  generated/csharp/Contracts/Iam/IamEvents.cs
  generated/csharp/Contracts/Inventory/InventoryEvents.cs
  generated/csharp/Contracts/Invoices/InvoicesEvents.cs
  generated/csharp/Contracts/Jobs/JobsEvents.cs
  generated/csharp/Contracts/Leave/LeaveEvents.cs
  generated/csharp/Contracts/Lifecycle/LifecycleEvents.cs
  generated/csharp/Contracts/Materials/MaterialsEvents.cs
  generated/csharp/Contracts/MessagingContracts.cs
  generated/csharp/Contracts/Nda/NdaEvents.cs
  generated/csharp/Contracts/Payments/PaymentsEvents.cs
  generated/csharp/Contracts/Pdf/PdfEvents.cs
  generated/csharp/Contracts/Performance/PerformanceEvents.cs
  generated/csharp/Contracts/PurchaseOrders/PurchaseOrdersEvents.cs
  generated/csharp/Contracts/Quotations/QuotationsEvents.cs
  generated/csharp/Contracts/Receipts/ReceiptsEvents.cs
  generated/csharp/Contracts/Shared/SharedEvents.cs
  generated/csharp/Contracts/Suppliers/SuppliersEvents.cs
  generated/csharp/Contracts/Uploads/UploadsEvents.cs
  package-lock.json
Due: dotnet-format, verify-build

feat: add missing fields to FileAnalyzedEvent and OrderCompletedEvent schemas
  contracts/schemas/geometry/geometry-events.json
  contracts/schemas/orders/order-events.json
  generated/csharp/Contracts/Geometry/GeometryEvents.cs
  generated/csharp/Contracts/Orders/OrdersEvents.cs
Due: dotnet-format, verify-build

feat: expand PriceCalculatedEvent schema with full pricing audit fields
  contracts/schemas/pricing/pricing-events.json
  generated/csharp/Contracts/Pricing/PricingEvents.cs
Due: dotnet-format, verify-build

feat: add items to OrderCreated and OrderCompleted events and regenerate contracts
  contracts/schemas/orders/order-events.json
  generated/csharp/Contracts/Orders/OrdersEvents.cs
Due: dotnet-format, verify-build

feat: add JobStatusChangedEvent to jobs domain schema
  asyncapi/asyncapi.yaml
  contracts/schemas/jobs/job-events.json
  generated/csharp/Contracts/Jobs/JobsEvents.cs
Due: dotnet-format, verify-build

feat(customers): add CompanyTierChangedEvent contract
  asyncapi/asyncapi.yaml
  contracts/schemas/customers/customer-events.json
  generated/csharp/Contracts/Customers/CustomersEvents.cs
Due: dotnet-format, verify-build

feat(facility): add facility domain contracts schema and include in generator
  contracts/schemas/facility/facility-events.json
  tools/Generator/Program.cs
Due: dotnet-format, verify-build

feat(facility): add facility domain contracts schema and generator support
  contracts/schemas/facility/facility-events.json
  tools/Generator/Program.cs
Due: dotnet-format, verify-build

refactor: unify all messaging contracts under Maliev.MessagingContracts.Generated namespace and fix tests
  Maliev.MessagingContracts.Tests/SerializationTests.cs
  contracts/schemas/facility/facility-events.json
  generated/csharp/Contracts/Accounting/AccountingEvents.cs
  generated/csharp/Contracts/Auth/AuthEvents.cs
  generated/csharp/Contracts/Career/CareerEvents.cs
  generated/csharp/Contracts/Chatbot/ChatbotEvents.cs
  generated/csharp/Contracts/Commands/CommandsEvents.cs
  generated/csharp/Contracts/Compensation/CompensationEvents.cs
  generated/csharp/Contracts/Compliance/ComplianceEvents.cs
  generated/csharp/Contracts/Customers/CustomersEvents.cs
  generated/csharp/Contracts/Delivery/DeliveryEvents.cs
  generated/csharp/Contracts/Employee/EmployeeEvents.cs
  generated/csharp/Contracts/Facility/FacilityEvents.cs
  generated/csharp/Contracts/Geometry/GeometryEvents.cs
  generated/csharp/Contracts/Iam/IamEvents.cs
  generated/csharp/Contracts/Inventory/InventoryEvents.cs
  generated/csharp/Contracts/Invoices/InvoicesEvents.cs
  generated/csharp/Contracts/Jobs/JobsEvents.cs
  generated/csharp/Contracts/Leave/LeaveEvents.cs
  generated/csharp/Contracts/Lifecycle/LifecycleEvents.cs
  generated/csharp/Contracts/Materials/MaterialsEvents.cs
  generated/csharp/Contracts/Nda/NdaEvents.cs
  generated/csharp/Contracts/Orders/OrdersEvents.cs
  generated/csharp/Contracts/Payments/PaymentsEvents.cs
  generated/csharp/Contracts/Pdf/PdfEvents.cs
  generated/csharp/Contracts/Performance/PerformanceEvents.cs
  generated/csharp/Contracts/Pricing/PricingEvents.cs
  generated/csharp/Contracts/PurchaseOrders/PurchaseOrdersEvents.cs
  generated/csharp/Contracts/Quotations/QuotationsEvents.cs
  generated/csharp/Contracts/Receipts/ReceiptsEvents.cs
  generated/csharp/Contracts/Shared/SharedEvents.cs
  generated/csharp/Contracts/Suppliers/SuppliersEvents.cs
  generated/csharp/Contracts/Uploads/UploadsEvents.cs
  tools/Generator/Program.cs
Due: dotnet-format, verify-build

Refactor: migrate MessagingContracts to structured namespaces
  Maliev.MessagingContracts.Tests/SerializationTests.cs
  README.md
  generated/csharp/Contracts/Accounting/AccountingEvents.cs
  generated/csharp/Contracts/Auth/AuthEvents.cs
  generated/csharp/Contracts/Career/CareerEvents.cs
  generated/csharp/Contracts/Chatbot/ChatbotEvents.cs
  generated/csharp/Contracts/Commands/CommandsEvents.cs
  generated/csharp/Contracts/Compensation/CompensationEvents.cs
  generated/csharp/Contracts/Compliance/ComplianceEvents.cs
  generated/csharp/Contracts/Customers/CustomersEvents.cs
  generated/csharp/Contracts/Delivery/DeliveryEvents.cs
  generated/csharp/Contracts/Employee/EmployeeEvents.cs
  generated/csharp/Contracts/Facility/FacilityEvents.cs
  generated/csharp/Contracts/Geometry/GeometryEvents.cs
  generated/csharp/Contracts/Iam/IamEvents.cs
  generated/csharp/Contracts/Inventory/InventoryEvents.cs
  generated/csharp/Contracts/Invoices/InvoicesEvents.cs
  generated/csharp/Contracts/Jobs/JobsEvents.cs
  generated/csharp/Contracts/Leave/LeaveEvents.cs
  generated/csharp/Contracts/Lifecycle/LifecycleEvents.cs
  generated/csharp/Contracts/Materials/MaterialsEvents.cs
  generated/csharp/Contracts/MessagingContracts.cs
  generated/csharp/Contracts/Nda/NdaEvents.cs
  generated/csharp/Contracts/Orders/OrdersEvents.cs
  generated/csharp/Contracts/Payments/PaymentsEvents.cs
  generated/csharp/Contracts/Pdf/PdfEvents.cs
  generated/csharp/Contracts/Performance/PerformanceEvents.cs
  generated/csharp/Contracts/Pricing/PricingEvents.cs
  generated/csharp/Contracts/PurchaseOrders/PurchaseOrdersEvents.cs
  generated/csharp/Contracts/Quotations/QuotationsEvents.cs
  generated/csharp/Contracts/Receipts/ReceiptsEvents.cs
  generated/csharp/Contracts/Shared/SharedEvents.cs
  generated/csharp/Contracts/Suppliers/SuppliersEvents.cs
  generated/csharp/Contracts/Uploads/UploadsEvents.cs
  tools/Generator/Program.cs
Due: dotnet-format, verify-build

fix: generate proper namespace for contracts
  Maliev.MessagingContracts.Tests/SerializationTests.cs
  contracts/schemas/facility/facility-events.json
  generated/csharp/Contracts/Accounting/AccountingEvents.cs
  generated/csharp/Contracts/Auth/AuthEvents.cs
  generated/csharp/Contracts/Career/CareerEvents.cs
  generated/csharp/Contracts/Chatbot/ChatbotEvents.cs
  generated/csharp/Contracts/Commands/CommandsEvents.cs
  generated/csharp/Contracts/Compensation/CompensationEvents.cs
  generated/csharp/Contracts/Compliance/ComplianceEvents.cs
  generated/csharp/Contracts/Customers/CustomersEvents.cs
  generated/csharp/Contracts/Delivery/DeliveryEvents.cs
  generated/csharp/Contracts/Employee/EmployeeEvents.cs
  generated/csharp/Contracts/Facility/FacilityEvents.cs
  generated/csharp/Contracts/Geometry/GeometryEvents.cs
  generated/csharp/Contracts/Iam/IamEvents.cs
  generated/csharp/Contracts/Inventory/InventoryEvents.cs
  generated/csharp/Contracts/Invoices/InvoicesEvents.cs
  generated/csharp/Contracts/Jobs/JobsEvents.cs
  generated/csharp/Contracts/Leave/LeaveEvents.cs
  generated/csharp/Contracts/Lifecycle/LifecycleEvents.cs
  generated/csharp/Contracts/Materials/MaterialsEvents.cs
  generated/csharp/Contracts/MessagingContracts.cs
  generated/csharp/Contracts/Nda/NdaEvents.cs
  generated/csharp/Contracts/Orders/OrdersEvents.cs
  generated/csharp/Contracts/Payments/PaymentsEvents.cs
  generated/csharp/Contracts/Pdf/PdfEvents.cs
  generated/csharp/Contracts/Performance/PerformanceEvents.cs
  generated/csharp/Contracts/Pricing/PricingEvents.cs
  generated/csharp/Contracts/PurchaseOrders/PurchaseOrdersEvents.cs
  generated/csharp/Contracts/Quotations/QuotationsEvents.cs
  generated/csharp/Contracts/Receipts/ReceiptsEvents.cs
  generated/csharp/Contracts/Shared/SharedEvents.cs
  generated/csharp/Contracts/Suppliers/SuppliersEvents.cs
  generated/csharp/Contracts/Uploads/UploadsEvents.cs
  generated/csharp/GlobalUsings.cs
  generated/csharp/Maliev.MessagingContracts.csproj
  tools/Generator/Program.cs
Due: dotnet-format, verify-build

fix: regenerate contracts with correct namespace
  Maliev.MessagingContracts.Tests/SerializationTests.cs
  Maliev.MessagingContracts.Tests/ValidationTests.cs
  generated/csharp/Contracts/Accounting/AccountingEvents.cs
  generated/csharp/Contracts/Auth/AuthEvents.cs
  generated/csharp/Contracts/Career/CareerEvents.cs
  generated/csharp/Contracts/Chatbot/ChatbotEvents.cs
  generated/csharp/Contracts/Commands/CommandsEvents.cs
  generated/csharp/Contracts/Compensation/CompensationEvents.cs
  generated/csharp/Contracts/Compliance/ComplianceEvents.cs
  generated/csharp/Contracts/Customers/CustomersEvents.cs
  generated/csharp/Contracts/Delivery/DeliveryEvents.cs
  generated/csharp/Contracts/Employee/EmployeeEvents.cs
  generated/csharp/Contracts/Facility/FacilityEvents.cs
  generated/csharp/Contracts/Geometry/GeometryEvents.cs
  generated/csharp/Contracts/Iam/IamEvents.cs
  generated/csharp/Contracts/Inventory/InventoryEvents.cs
  generated/csharp/Contracts/Invoices/InvoicesEvents.cs
  generated/csharp/Contracts/Jobs/JobsEvents.cs
  generated/csharp/Contracts/Leave/LeaveEvents.cs
  generated/csharp/Contracts/Lifecycle/LifecycleEvents.cs
  generated/csharp/Contracts/Materials/MaterialsEvents.cs
  generated/csharp/Contracts/Nda/NdaEvents.cs
  generated/csharp/Contracts/Orders/OrdersEvents.cs
  generated/csharp/Contracts/Payments/PaymentsEvents.cs
  generated/csharp/Contracts/Pdf/PdfEvents.cs
  generated/csharp/Contracts/Performance/PerformanceEvents.cs
  generated/csharp/Contracts/Pricing/PricingEvents.cs
  generated/csharp/Contracts/PurchaseOrders/PurchaseOrdersEvents.cs
  generated/csharp/Contracts/Quotations/QuotationsEvents.cs
  generated/csharp/Contracts/Receipts/ReceiptsEvents.cs
  generated/csharp/Contracts/Shared/SharedEvents.cs
  generated/csharp/Contracts/Suppliers/SuppliersEvents.cs
  generated/csharp/Contracts/Uploads/UploadsEvents.cs
  tools/Generator/Program.cs
Due: dotnet-format, verify-build

docs: update AGENTS.md instructions
  AGENTS.md
Due: none

Update migration commands to use Infrastructure as startup-project
  AGENTS.md
Due: none

feat(lifecycle): add UndoRevokeAccessCommand contract
  asyncapi/asyncapi.yaml
  contracts/schemas/lifecycle/undo-revoke-access-command.json
  generated/csharp/Contracts/Lifecycle/LifecycleEvents.cs
Due: dotnet-format, verify-build

fix: add LifecycleService to discovery report for consumer validation
  specs/001-define-messaging-contracts/discovery-report.md
Due: none

feat(pdf): add FinancialReportPdfRequestedEvent for event-driven report generation
  asyncapi/asyncapi.yaml
  contracts/schemas/geometry/geometry-events.json
  contracts/schemas/pdf/pdf-events.json
  generated/csharp/Contracts/Geometry/GeometryEvents.cs
  generated/csharp/Contracts/Pdf/PdfEvents.cs
Due: dotnet-format, verify-build

feat: add PreviewImagesGeneratedEvent contract for geometry previews
  contracts/schemas/geometry/preview-images-generated-event.json
  generated/csharp/Contracts/Geometry/GeometryEvents.cs
Due: dotnet-format, verify-build

feat(contracts): add Project domain messaging events
  generated/csharp/Contracts/Projects/ProjectsEvents.cs
Due: dotnet-format, verify-build

feat(contracts): auto-generate Project domain events from JSON schema
  contracts/schemas/projects/project-events.json
  generated/csharp/Contracts/Projects/ProjectsEvents.cs
  tools/Generator/Program.cs
Due: dotnet-format, verify-build

feat(contracts): add JobCreatedEvent schema and regenerate C#
  Maliev.MessagingContracts.Tests/SerializationTests.cs
  contracts/schemas/jobs/job-events.json
  generated/csharp/Contracts/Jobs/JobsEvents.cs
Due: dotnet-format, verify-build

feat(contracts): add UploadArtifactCommand and refactor upload events
  asyncapi/asyncapi.yaml
  contracts/schemas/geometry/preview-images-generated-event.json
  contracts/schemas/upload/file-deleted-event.json
  contracts/schemas/uploads/upload-artifact-command.json
  generated/csharp/Contracts/Geometry/GeometryEvents.cs
  generated/csharp/Contracts/Uploads/UploadsEvents.cs
Due: dotnet-format, verify-build
