Repository MALIEV-Co-Ltd/Maliev.MessagingContracts: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, verify-build

dotnet-format:
  name: dotnet format
  entry: dotnet format Maliev.MessagingContracts.slnx
  language: system
  pass_filenames: false

verify-build:
  name: verify build
  entry: dotnet build Maliev.MessagingContracts.slnx -c Release
  language: system
  pass_filenames: false

fix: preserve provider name deconstruction compatibility
  Maliev.MessagingContracts.Tests/GeneratorTests.cs
  Maliev.MessagingContracts.Tests/ProviderNameContractTests.cs
  generated/csharp/Contracts/Orders/OrdersEvents.cs
  generated/csharp/Contracts/Payments/PaymentsEvents.cs
  tools/Generator/Program.cs
Due: dotnet-format, verify-build

ci: gate contract publication on validation
  .github/workflows/publish.yaml
  .github/workflows/validate-contracts.yaml
Due: none

fix: reject malformed required schema containers
  Maliev.MessagingContracts.Tests/GeneratorTests.cs
  Maliev.MessagingContracts.Tests/ProviderNameContractTests.cs
  tools/Generator/Program.cs
Due: dotnet-format, verify-build

ci: fail closed before contract publication
  .github/workflows/publish.yaml
  .github/workflows/validate-contracts.yaml
  package.json
  scripts/resolve-package-version.cjs
  scripts/verify-generated-clean.cjs
  scripts/workflow-helpers.test.cjs
Due: verify-build

ci: restrict manual publication refs
  .github/workflows/publish.yaml
  scripts/resolve-package-version.cjs
  scripts/workflow-helpers.test.cjs
Due: none

ci: bind package publication to full Git refs
  .github/workflows/publish.yaml
  scripts/resolve-package-version.cjs
  scripts/workflow-helpers.test.cjs
Due: none

fix: align file analyzed event contract
  Maliev.MessagingContracts.Tests/FileAnalyzedContractTests.cs
  asyncapi/asyncapi.yaml
  contracts/schemas/geometry/geometry-events.json
  package.json
  scripts/file-analyzed-contract.test.cjs
Due: dotnet-format, verify-build

fix: allow null file analysis reports
  contracts/schemas/geometry/geometry-events.json
  scripts/file-analyzed-contract.test.cjs
Due: verify-build

test: align file analyzed consumers
  Maliev.MessagingContracts.Tests/FileAnalyzedContractTests.cs
Due: dotnet-format, verify-build

fix: align FileAnalyzedEvent with GeometryService (#60)
  Maliev.MessagingContracts.Tests/FileAnalyzedContractTests.cs
  asyncapi/asyncapi.yaml
  contracts/schemas/geometry/geometry-events.json
  package.json
  scripts/file-analyzed-contract.test.cjs
Due: dotnet-format, verify-build

fix: align geometry analysis event routes
  Maliev.MessagingContracts.Tests/GeometryAnalysisContractTests.cs
  asyncapi/asyncapi.yaml
  contracts/schemas/geometry/geometry-events.json
  scripts/geometry-analysis-contract.test.cjs
Due: dotnet-format, verify-build

fix: align geometry analysis event routes (#61)
  Maliev.MessagingContracts.Tests/GeometryAnalysisContractTests.cs
  asyncapi/asyncapi.yaml
  contracts/schemas/geometry/geometry-events.json
  scripts/geometry-analysis-contract.test.cjs
Due: dotnet-format, verify-build

test: migrate contract suite to xunit v3
  Maliev.MessagingContracts.Tests/Maliev.MessagingContracts.Tests.csproj
Due: verify-build

ci: adopt central contract quality gates
  .github/workflows/validate-contracts.yaml
  Maliev.MessagingContracts.Tests/GeneratorTests.cs
  generated/csharp/Maliev.MessagingContracts.csproj
  global.json
  scripts/workflow-consumer-contract.test.cjs
Due: dotnet-format, verify-build

fix(ci): close central gate review gaps
  .github/workflows/publish.yaml
  .github/workflows/validate-contracts.yaml
  Maliev.MessagingContracts.Tests/GeneratorTests.cs
  scripts/workflow-consumer-contract.test.cjs
Due: dotnet-format, verify-build

fix(ci): provision SDK for schema generation
  .github/workflows/validate-contracts.yaml
  scripts/workflow-consumer-contract.test.cjs
Due: none

feat(pricing): add price calculated event v2
  Maliev.MessagingContracts.Tests/PricingContractTests.cs
  asyncapi/asyncapi.yaml
  contracts/schemas/pricing/price-calculated-event-v2.json
  contracts/schemas/shared/base-message.json
  generated/csharp/Contracts/Pricing/PricingEvents.cs
  scripts/pricing-event-v2-contract.test.cjs
Due: dotnet-format, verify-build

fix(contracts): allow pre-consumer events
  Maliev.MessagingContracts.Tests/PricingContractTests.cs
  Maliev.MessagingContracts.Tests/ValidationTests.cs
  contracts/schemas/pricing/price-calculated-event-v2.json
  contracts/schemas/shared/base-message.json
  scripts/pricing-event-v2-contract.test.cjs
Due: dotnet-format, verify-build

feat(pricing): make v2 price breakdown reconstructable
  Maliev.MessagingContracts.Tests/PricingContractTests.cs
  asyncapi/asyncapi.yaml
  contracts/schemas/pricing/price-calculated-event-v2.json
  generated/csharp/Contracts/Pricing/PricingEvents.cs
  scripts/pricing-event-v2-contract.test.cjs
Due: dotnet-format, verify-build

Harden Dependabot update policy
  .github/dependabot.yml
Due: none

Make required checks validate policy changes
  .github/workflows/validate-contracts.yaml
Due: none

Migrate contract tests to xUnit v3
  tests/Maliev.MessagingContracts.Tests.csproj
Due: verify-build

Keep policy validation runtime-neutral
  .github/workflows/validate-contracts.yaml
  tests/Maliev.MessagingContracts.Tests.csproj
Due: verify-build

Add stable required validation summary
  .github/workflows/validate-contracts.yaml
Due: none

Harden Dependabot update policy [skip ci]
  .github/dependabot.yml
  .github/workflows/validate-contracts.yaml
Due: none

fix: secure contract validation and repair generated drift
  generated/csharp/Contracts/MessagingContracts.cs
  package-lock.json
  package.json
  scripts/validate-contracts.cjs
  tests/SerializationTests.cs
Due: dotnet-format, verify-build

chore: consolidate Dependabot runtime updates
  .github/workflows/publish.yaml
  .github/workflows/validate-contracts.yaml
  tests/Maliev.MessagingContracts.Tests.csproj
Due: verify-build

test: cover every generated contract record
  tests/GeneratedContractRoundTripTests.cs
Due: dotnet-format, verify-build

chore: consolidate secure .NET 10 dependency updates (#70)
  .github/workflows/publish.yaml
  .github/workflows/validate-contracts.yaml
  generated/csharp/Contracts/MessagingContracts.cs
  package-lock.json
  package.json
  scripts/validate-contracts.cjs
  tests/GeneratedContractRoundTripTests.cs
  tests/Maliev.MessagingContracts.Tests.csproj
  tests/SerializationTests.cs
Due: dotnet-format, verify-build

fix: fail closed on runtime contract changes
  .github/workflows/validate-contracts.yaml
  scripts/workflow-consumer-contract.test.cjs
Due: none

chore: synchronize reconciled contracts to develop (#74)
  .github/dependabot.yml
  .github/workflows/publish.yaml
  .github/workflows/validate-contracts.yaml
  Maliev.MessagingContracts.Tests/GeneratedContractRoundTripTests.cs
  Maliev.MessagingContracts.Tests/Maliev.MessagingContracts.Tests.csproj
  Maliev.MessagingContracts.Tests/SerializationTests.cs
  package-lock.json
  scripts/workflow-consumer-contract.test.cjs
Due: dotnet-format, verify-build

test(ci): accept reviewed action pin
  scripts/workflow-consumer-contract.test.cjs
Due: none

Path conditions:
  dotnet-format: any of: \.(cs|vb)$
  verify-build: any of: \.(cs|json|csproj|slnx)$
