Repository MALIEV-Co-Ltd/Maliev.MessagingContracts: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, verify-build

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
        name: Check YAML Syntax
        args: [--allow-multiple-documents]
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        name: Lint YAML Files
        args: [-c=.yamllint.yml]

  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        entry: dotnet format Maliev.MessagingContracts.slnx
        language: system
        files: \.(cs|vb)$
        pass_filenames: false

      - id: verify-build
        name: verify build
        entry: dotnet build Maliev.MessagingContracts.slnx -c Release
        language: system
        files: \.(cs|json|csproj|slnx)$
        pass_filenames: false

feat(contracts): add DfmAnalysisReadyEvent and extend PriceCalculatedEvent
  contracts/schemas/geometry/geometry-events.json
  contracts/schemas/pricing/pricing-events.json
  generated/csharp/Contracts/Geometry/GeometryEvents.cs
  generated/csharp/Contracts/Pricing/PricingEvents.cs
Due: dotnet-format, verify-build

Fix: Update fileId description for consistency in DfmAnalysisReadyEvent
  contracts/schemas/geometry/geometry-events.json
  contracts/schemas/geometry/preview-images-generated-event.json
  generated/csharp/Contracts/Geometry/GeometryEvents.cs
Due: dotnet-format, verify-build

chore: update MessagingContracts geometry events
  AGENTS.md
  contracts/schemas/geometry/geometry-events.json
  generated/csharp/Contracts/Geometry/GeometryEvents.cs
Due: dotnet-format, verify-build

feat(contracts): add CustomerRegisteredEvent schema and generated C# types
  contracts/schemas/customers/customer-events.json
  contracts/schemas/geometry/geometry-events.json
  generated/csharp/Contracts/Customers/CustomersEvents.cs
  generated/csharp/Contracts/Geometry/GeometryEvents.cs
  package-lock.json
Due: dotnet-format, verify-build

feat(contracts): add OrderOutsourcingChangedEvent for China Switch outsourcing workflow
  asyncapi/asyncapi.yaml
  contracts/schemas/orders/order-events.json
  generated/csharp/Contracts/Orders/OrdersEvents.cs
Due: dotnet-format, verify-build

docs: update AGENTS.md to align with workspace conventions
  AGENTS.md
Due: none

chore(messaging): add geometry event schemas
  contracts/schemas/geometry/geometry-events.json
  generated/csharp/Contracts/Geometry/GeometryEvents.cs
Due: dotnet-format, verify-build

feat(contracts): add overlayPaths to DfmAnalysisReadyEventPayload
  contracts/schemas/geometry/geometry-events.json
  generated/csharp/Contracts/Geometry/GeometryEvents.cs
Due: dotnet-format, verify-build

feat(contracts): add BodyCount to DfmAnalysisReadyEventPayload
  generated/csharp/Contracts/Geometry/GeometryEvents.cs
Due: dotnet-format, verify-build

feat: extend geometry messaging contracts
  contracts/schemas/geometry/geometry-events.json
  generated/csharp/Contracts/Geometry/GeometryEvents.cs
Due: dotnet-format, verify-build

fix(contracts): support 64-bit upload file sizes
  .github/workflows/publish.yaml
  contracts/schemas/uploads/upload-events.json
  generated/csharp/Contracts/Uploads/UploadsEvents.cs
  tools/Generator/Program.cs
Due: dotnet-format, verify-build

fix(contracts): preserve geometry non-manifold fields
  contracts/schemas/geometry/geometry-events.json
  generated/csharp/Contracts/Geometry/GeometryEvents.cs
Due: dotnet-format, verify-build

chore: update shared package references
  Maliev.MessagingContracts.Tests/Maliev.MessagingContracts.Tests.csproj
Due: verify-build

Add CNC turning axis contract fields
  contracts/schemas/geometry/geometry-events.json
  generated/csharp/Contracts/Geometry/GeometryEvents.cs
Due: dotnet-format, verify-build

Add CNC turning axis point contract
  Maliev.MessagingContracts.Tests/SerializationTests.cs
  contracts/schemas/geometry/geometry-events.json
  generated/csharp/Contracts/Geometry/GeometryEvents.cs
Due: dotnet-format, verify-build

Add global search messaging contracts
  Maliev.MessagingContracts.Tests/SerializationTests.cs
  asyncapi/asyncapi.yaml
  contracts/schemas/search/search-events.json
  generated/csharp/Contracts/Search/SearchEvents.cs
  tools/Generator/Program.cs
Due: dotnet-format, verify-build

chore: ignore generated contract artifacts
  .gitignore
Due: none

Centralize lifecycle command contracts
  contracts/schemas/compensation/undo-archive-compensation-command.json
  contracts/schemas/geometry/preview-images-generated-event.json
  contracts/schemas/leave/undo-close-leave-balance-command.json
  contracts/schemas/uploads/bulk-delete-job-command.json
  generated/csharp/Contracts/Compensation/CompensationEvents.cs
  generated/csharp/Contracts/Geometry/GeometryEvents.cs
  generated/csharp/Contracts/Leave/LeaveEvents.cs
  generated/csharp/Contracts/Uploads/UploadsEvents.cs
Due: dotnet-format, verify-build

chore: update ignore rules and sync local changes
  .gitignore
Due: none

chore: normalize gitignore line endings
  .gitignore
Due: none

Refresh messaging consumer discovery
  scripts/discover-services.ps1
  specs/001-define-messaging-contracts/discovery-report.md
Due: none

Make messaging contract npm test portable
  package.json
Due: verify-build

Reduce messaging contract npm advisories
  package-lock.json
Due: verify-build

Replace vulnerable contract validation CLIs
  AGENTS.md
  README.md
  package-lock.json
  package.json
  scripts/validate-contracts.cjs
Due: verify-build

Remove Gemini CLI configuration
  .gemini/commands/speckit.analyze.toml
  .gemini/commands/speckit.checklist.toml
  .gemini/commands/speckit.clarify.toml
  .gemini/commands/speckit.constitution.toml
  .gemini/commands/speckit.implement.toml
  .gemini/commands/speckit.plan.toml
  .gemini/commands/speckit.specify.toml
  .gemini/commands/speckit.tasks.toml
  .gemini/commands/speckit.taskstoissues.toml
Due: none

feat: add EmailVerifiedEvent, VerificationEmailRequestedEvent, PasskeyRegisteredEvent contracts
  asyncapi/asyncapi.yaml
  contracts/schemas/auth/auth-events.json
  generated/csharp/Contracts/Auth/AuthEvents.cs
Due: dotnet-format, verify-build

Add browser viewer source metadata to geometry events
  contracts/schemas/geometry/geometry-events.json
  generated/csharp/Contracts/Geometry/GeometryEvents.cs
Due: dotnet-format, verify-build

feat: include customer id on payment completion
  contracts/schemas/payments/payment-completed-event.json
  generated/csharp/Contracts/Payments/PaymentsEvents.cs
Due: dotnet-format, verify-build

feat: include customer id on order lifecycle events
  contracts/schemas/orders/order-events.json
  generated/csharp/Contracts/Orders/OrdersEvents.cs
Due: dotnet-format, verify-build

feat: add provider-neutral payment state events
  Maliev.MessagingContracts.Tests/SerializationTests.cs
  contracts/schemas/payments/payment-cancelled-event.json
  contracts/schemas/payments/payment-expired-event.json
  contracts/schemas/payments/payment-pending-event.json
  generated/csharp/Contracts/Payments/PaymentsEvents.cs
Due: dotnet-format, verify-build

fix: model qc release order status
  contracts/schemas/orders/order-events.json
  generated/csharp/Contracts/Orders/OrdersEvents.cs
Due: dotnet-format, verify-build

fix: include payment provider on completion events
  contracts/schemas/payments/payment-completed-event.json
  generated/csharp/Contracts/Payments/PaymentsEvents.cs
Due: dotnet-format, verify-build

fix: include payment provider on paid orders
  contracts/schemas/orders/order-events.json
  generated/csharp/Contracts/Orders/OrdersEvents.cs
Due: dotnet-format, verify-build

feat: include order number on job status events
  contracts/schemas/jobs/job-events.json
  generated/csharp/Contracts/Jobs/JobsEvents.cs
Due: dotnet-format, verify-build

fix: allow delivery note pdf result events
  contracts/schemas/pdf/pdf-events.json
Due: verify-build

feat: include customer on delivery result events
  contracts/schemas/delivery/delivery-events.json
  generated/csharp/Contracts/Delivery/DeliveryEvents.cs
Due: dotnet-format, verify-build

test: cover delivery notification event contracts
  Maliev.MessagingContracts.Tests/SerializationTests.cs
Due: dotnet-format, verify-build

feat: add source project ids to order events
  contracts/schemas/orders/order-events.json
  generated/csharp/Contracts/Orders/OrdersEvents.cs
Due: dotnet-format, verify-build

fix: canonicalize provider name payload compatibility
  Maliev.MessagingContracts.Tests/GeneratorTests.cs
  Maliev.MessagingContracts.Tests/Maliev.MessagingContracts.Tests.csproj
  Maliev.MessagingContracts.Tests/ProviderNameContractTests.cs
  contracts/schemas/orders/order-events.json
  contracts/schemas/payments/payment-cancelled-event.json
  contracts/schemas/payments/payment-completed-event.json
  contracts/schemas/payments/payment-created-event.json
  contracts/schemas/payments/payment-expired-event.json
  contracts/schemas/payments/payment-failed-event.json
  contracts/schemas/payments/payment-pending-event.json
  generated/csharp/Contracts/Orders/OrdersEvents.cs
  generated/csharp/Contracts/Payments/PaymentsEvents.cs
  tools/Generator/Program.cs
Due: dotnet-format, verify-build
